body {
  background-color: black;
  color: white;
}
h1 {
  font-size: xx-large;
  text-align: center;
  font: bolder;
  font-style: initial;
  font-stretch: ultra-expanded;
}
ul {
  list-style: circle;
  button {
    text-align: left;
    background-color: blue;
    font-family: sans-serif;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    outline: none;
    margin: 10px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    cursor: pointer;
  }
  nav {
    background-color: white;
  }
}
